<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>想吃、點什麼嗎？</title>
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../fonts/css/all.min.css" />
        <script src="../js/jquery.min.js"></script>
        <script src="../js/ng.js"></script>
        <script src="../js/app.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl">
        <header>
            <a href="http://localhost/web/School_project/pages/index.html"
                >想吃、點什麼嗎？</a
            >
        </header>
        <main>
            <div ng-if="canOrder || !canCompare" class="search-bar-container">
                <div ng-if="!canOrder && !canCompare" class="search-bar">
                    <input
                        class="search"
                        type="text"
                        name="meal"
                        ng-model="meal"
                        placeholder="今天想吃什麼？"
                    />
                    <button class="search-button" ng-click="handleSearch()">
                        <i class="fa-solid fa-magnifying-glass fa-1x"></i>
                    </button>
                </div>
                <div ng-if="canOrder && !canCompare" class="search-bar">
                    <input
                        class="search"
                        type="text"
                        name="meal"
                        ng-model="meal"
                        ng-change="SearchFilter(this)"
                        placeholder="店內搜尋"
                    />
                </div>
            </div>
            <div class="container">
                <div ng-if="!canOrder && !canCompare" class="filter">
                    <label>篩選</label>
                    <div>
                        <button
                            class="filter-btn"
                            ng-repeat="label in labels()"
                            ng-click="filterRestaurants(label)"
                        >
                            {{ label }}
                        </button>
                    </div>
                </div>
                <div ng-if="!canOrder && !canCompare" class="order">
                    <label>排序</label>
                    <div>
                        <button
                            class="order-btn"
                            ng-click="handleOrder('default')"
                        >
                            預設
                        </button>
                        <button class="order-btn" ng-click="handleOrder('fee')">
                            外送服務費
                        </button>
                        <button
                            class="order-btn"
                            ng-click="handleOrder('rating')"
                        >
                            評分最高
                        </button>
                        <button
                            class="order-btn"
                            ng-click="handleOrder('time')"
                        >
                            最快送達
                        </button>
                    </div>
                </div>

                <div ng-if="!canOrder && !canCompare" class="card-container">
                    <div
                        class="card"
                        ng-repeat="restaurant in restaurants"
                        key="restaurant.id"
                        ng-click="chooseRestaurant(restaurant)"
                    >
                        <div class="card-content">
                            <div class="card-img">
                                <img ng-src="{{ restaurant.hero_image }}" />
                                <div>
                                    <div>
                                        {{ restaurant.minimum_delivery_fee |
                                        number:0}}
                                    </div>
                                    <div>分鐘</div>
                                </div>
                            </div>
                            <div class="card-header">
                                <div class="card-name">
                                    {{ restaurant.name }}
                                </div>
                                <div class="card-rating">
                                    <span class="rating"
                                        ><i
                                            style="color: #ff9800"
                                            class="fa-solid fa-star"
                                        ></i
                                        >{{ restaurant.rating }}</span
                                    >/5
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-cuisines">
                                    <span
                                        >{{ restaurant.cuisines[0].name }}</span
                                    >
                                    <span>
                                        {{ restaurant.cuisines[1].name }}</span
                                    >
                                </div>
                                <div class="card-address">
                                    {{ restaurant.address }}
                                </div>
                                <div>
                                    <span class="card-fee"
                                        >$ {{ restaurant.minimum_delivery_fee |
                                        number:0}} </span
                                    >外送服務費
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div ng-if="canOrder && !canCompare">
                    <div class="restaurant-logo">
                        <img ng-src="{{ current_restaurant.logo }}" />
                    </div>
                    <div class="restaurant-description">
                        <div class="card-name">
                            {{ current_restaurant.name }}
                        </div>
                        <div class="card-rating">
                            <span
                                ><i
                                    style="color: #ff9800"
                                    class="fa-solid fa-star"
                                ></i
                                ><strong
                                    >{{ current_restaurant.rating }}/5</strong
                                ></span
                            >
                        </div>
                        <div class="card-cuisines">
                            <span>$$$</span>
                            <span>
                                {{ current_restaurant.cuisines[0].name }}</span
                            >
                            <span>
                                {{ current_restaurant.cuisines[1].name }}</span
                            >
                        </div>
                    </div>
                    <div class="restaurant-content">
                        <div ng-if="meal.length > 0">
                            <div class="card-name">搜尋 '{{ meal }}'</div>

                            <div
                                class="product"
                                ng-repeat="product in sortedMeals"
                                key="product.id"
                                ng-click="chooseProduct(product)"
                            >
                                <div class="product-img">
                                    <img ng-src="{{ product.logo_path }}" />
                                </div>
                                <div class="product-content">
                                    <div>{{ product.name }}</div>
                                    <div>
                                        $ {{ product.product_variations[0].price
                                        | number:0 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div
                            ng-repeat="categorie in categories"
                            key="categorie.id"
                        >
                            <div class="restaurant-cuisines">
                                {{ categorie.name }}
                            </div>
                            <div
                                class="product"
                                ng-repeat="product in categorie.products"
                                key="product.id"
                                ng-click="chooseProduct(product)"
                            >
                                <div class="product-img">
                                    <img ng-src="{{ product.logo_path }}" />
                                    <div
                                        class="product-selected"
                                        ng-if="product.selected"
                                    >
                                        x{{ product.count }}
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div>{{ product.name }}</div>
                                    <div>
                                        $ {{ product.product_variations[0].price
                                        | number:0 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- canCompare -->
                <div ng-if="!canOrder && canCompare">
                    <div
                        ng-repeat="restaurant in compare_restaurants"
                        key="restaurant.id"
                    >
                        <div class="restaurant-logo">
                            <img ng-src="{{ restaurant.hero_image }}" />
                        </div>
                        <div class="restaurant-description">
                            <div class="card-name">{{ restaurant.name }}</div>
                            <div class="card-rating">
                                <span
                                    ><i
                                        style="color: #ff9800"
                                        class="fa-solid fa-star"
                                    ></i
                                    ><strong
                                        >{{ restaurant.rating }}/5</strong
                                    ></span
                                >
                            </div>
                            <div class="card-cuisines">
                                <span>$$$</span>
                                <span> {{ restaurant.cuisines[0].name }}</span>
                                <span> {{ restaurant.cuisines[1].name }}</span>
                            </div>
                        </div>
                        <div class="restaurant-content">
                            <div
                                class="product"
                                ng-repeat="product in restaurant.answer"
                                key="product"
                                ng-click="chooseProduct(product)"
                            >
                                <!-- <div class="product-img">
                                <img ng-src="{{ product.logo_path }}" />
                                <div
                                    class="product-selected"
                                    ng-if="product.selected"
                                >
                                    x{{ product.count }}
                                </div>
                            </div> -->
                                <div class="product-content">
                                    <div>{{ product }}</div>
                                    <div>
                                        $ {{ product.product_variations[0].price
                                        | number:0 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <p>Copyright &copy; 2022 資訊二仁專題四組</p>
            <div id="scrollTop" ng-click="scrollTop()">
                <i
                    style="font-size: 30px; color: #000"
                    class="fa-solid fa-angle-up"
                ></i>
            </div>
        </footer>
        <div ng-if="!compared" id="compare" ng-click="compare()">比價</div>
    </body>
</html>
